-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('subscriber', 'beneficiary', 'care_companion', 'field_manager', 'operations_manager', 'emergency_coordinator', 'volunteer');

-- CreateEnum
CREATE TYPE "SubscriptionType" AS ENUM ('silver', 'gold', 'platinum');

-- CreateEnum
CREATE TYPE "SubscriptionDuration" AS ENUM ('monthly', 'six_months', 'annual');

-- CreateEnum
CREATE TYPE "VisitStatus" AS ENUM ('scheduled', 'in_progress', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "AppointmentStatus" AS ENUM ('pending', 'confirmed', 'rescheduled', 'completed', 'cancelled', 'no_show');

-- CreateEnum
CREATE TYPE "MoodType" AS ENUM ('happy', 'aneutral', 'sad', 'anxious', 'depressed');

-- CreateEnum
CREATE TYPE "EmergencyStatus" AS ENUM ('open', 'in_progress', 'resolved');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('pending', 'success', 'failed', 'refunded', 'partially_refunded');

-- CreateEnum
CREATE TYPE "ConditionSeverity" AS ENUM ('mild', 'moderate', 'severe', 'critical');

-- CreateEnum
CREATE TYPE "RecordType" AS ENUM ('prescription', 'lab_report', 'discharge_summary', 'imaging', 'vaccination', 'insurance', 'other');

-- CreateEnum
CREATE TYPE "MedicationFrequency" AS ENUM ('once_daily', 'twice_daily', 'thrice_daily', 'four_times_daily', 'every_6_hours', 'every_8_hours', 'every_12_hours', 'weekly', 'fortnightly', 'monthly', 'as_needed');

-- CreateEnum
CREATE TYPE "MedicationRoute" AS ENUM ('oral', 'sublingual', 'topical', 'inhaled', 'injectable', 'nasal', 'ophthalmic', 'otic', 'rectal');

-- CreateEnum
CREATE TYPE "LeadSource" AS ENUM ('website', 'mobile_app', 'referral', 'social_media', 'cold_call', 'event', 'partner', 'other');

-- CreateEnum
CREATE TYPE "LeadStatus" AS ENUM ('new', 'contacted', 'interested', 'converted', 'lost', 'do_not_contact');

-- CreateEnum
CREATE TYPE "CallbackStatus" AS ENUM ('pending', 'called', 'resolved', 'cancelled');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('visit_reminder', 'medication_reminder', 'emergency_alert', 'payment_due', 'payment_success', 'payment_failed', 'subscription_expiry', 'appointment_confirmed', 'appointment_cancelled', 'care_report', 'system');

-- CreateEnum
CREATE TYPE "NotificationChannel" AS ENUM ('push', 'sms', 'whatsapp', 'email', 'in_app');

-- CreateEnum
CREATE TYPE "GenderType" AS ENUM ('male', 'female', 'other', 'prefer_not_to_say');

-- CreateEnum
CREATE TYPE "BloodGroup" AS ENUM ('A_positive', 'A_negative', 'B_positive', 'B_negative', 'O_positive', 'O_negative', 'AB_positive', 'AB_negative', 'unknown');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "password" TEXT,
    "age" INTEGER,
    "role" "UserRole" NOT NULL DEFAULT 'subscriber',
    "location" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "profilePhoto" TEXT,
    "fcmToken" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "otps" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medical_conditions" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "icdCode" TEXT,
    "description" TEXT,
    "icon" TEXT,
    "isCommon" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "medical_conditions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "beneficiary_conditions" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "conditionId" TEXT NOT NULL,
    "severity" "ConditionSeverity" NOT NULL DEFAULT 'moderate',
    "diagnosedAt" TIMESTAMP(3),
    "diagnosedBy" TEXT,
    "notes" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "beneficiary_conditions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medical_records" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "uploadedBy" TEXT NOT NULL,
    "recordType" "RecordType" NOT NULL DEFAULT 'prescription',
    "title" TEXT NOT NULL,
    "fileUrl" TEXT,
    "thumbnailUrl" TEXT,
    "mimeType" TEXT,
    "fileSizeBytes" INTEGER,
    "doctorName" TEXT,
    "doctorPhone" TEXT,
    "doctorSpecialty" TEXT,
    "hospitalName" TEXT,
    "hospitalAddress" TEXT,
    "recordDate" TIMESTAMP(3),
    "expiryDate" TIMESTAMP(3),
    "notes" TEXT,
    "tags" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "medical_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medications" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "medicalRecordId" TEXT,
    "name" TEXT NOT NULL,
    "genericName" TEXT,
    "dosage" TEXT NOT NULL,
    "route" "MedicationRoute" NOT NULL DEFAULT 'oral',
    "frequency" "MedicationFrequency" NOT NULL DEFAULT 'twice_daily',
    "timeSlots" TEXT[],
    "instructions" TEXT,
    "sideEffects" TEXT,
    "prescribedBy" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "totalDays" INTEGER,
    "refillReminderDays" INTEGER,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "medications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emergency_contacts" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "alternatePhone" TEXT,
    "email" TEXT,
    "relationship" TEXT NOT NULL,
    "address" TEXT,
    "isPrimary" BOOLEAN NOT NULL DEFAULT false,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "notifyOnVisit" BOOLEAN NOT NULL DEFAULT false,
    "notifyOnEmergency" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "emergency_contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "schedule_preferences" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "preferredDays" TEXT[],
    "avoidDays" TEXT[],
    "preferredSlot" TEXT NOT NULL,
    "preferredTimeFrom" TEXT,
    "preferredTimeTo" TEXT,
    "preferFemaleCc" BOOLEAN NOT NULL DEFAULT false,
    "languagePreference" TEXT,
    "specialNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "schedule_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "beneficiaries" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "subscriberId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "photo" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "age" INTEGER NOT NULL,
    "gender" "GenderType" NOT NULL DEFAULT 'prefer_not_to_say',
    "bloodGroup" "BloodGroup" NOT NULL DEFAULT 'unknown',
    "address" TEXT NOT NULL,
    "city" TEXT,
    "state" TEXT,
    "pincode" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "primaryPhysicianName" TEXT,
    "primaryPhysicianPhone" TEXT,
    "primaryPhysicianSpec" TEXT,
    "hobbiesInterests" TEXT[],
    "trackBloodPressure" BOOLEAN NOT NULL DEFAULT false,
    "trackHeartRate" BOOLEAN NOT NULL DEFAULT false,
    "trackBloodSugar" BOOLEAN NOT NULL DEFAULT false,
    "trackTemperature" BOOLEAN NOT NULL DEFAULT false,
    "trackOxygenSaturation" BOOLEAN NOT NULL DEFAULT false,
    "trackWeight" BOOLEAN NOT NULL DEFAULT false,
    "trackPainLevel" BOOLEAN NOT NULL DEFAULT false,
    "trackRespiratoryRate" BOOLEAN NOT NULL DEFAULT false,
    "primaryCcId" TEXT,
    "secondaryCcId" TEXT,
    "fieldManagerId" TEXT,
    "emotionalScore" DOUBLE PRECISION NOT NULL DEFAULT 8.0,
    "medicationScore" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "healthScore" DOUBLE PRECISION NOT NULL DEFAULT 8.0,
    "dietaryRestrictions" TEXT[],
    "allergies" TEXT[],
    "mobilityStatus" TEXT,
    "cognitiveStatus" TEXT,
    "insuranceProvider" TEXT,
    "insurancePolicyNo" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "beneficiaries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "care_companions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "photo" TEXT,
    "bio" TEXT NOT NULL DEFAULT '',
    "specialization" TEXT[],
    "languages" TEXT[],
    "zone" TEXT NOT NULL,
    "experience" INTEGER,
    "qualifications" TEXT[],
    "rating" DOUBLE PRECISION NOT NULL DEFAULT 5.0,
    "totalVisits" INTEGER NOT NULL DEFAULT 0,
    "isAvailable" BOOLEAN NOT NULL DEFAULT true,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "teamId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "care_companions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "field_managers" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "photo" TEXT,
    "zone" TEXT NOT NULL,
    "phone" TEXT,
    "isAvailable" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "field_managers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teams" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "fieldManagerId" TEXT NOT NULL,
    "zone" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscription_packages" (
    "id" TEXT NOT NULL,
    "type" "SubscriptionType" NOT NULL,
    "name" TEXT NOT NULL,
    "tagline" TEXT,
    "description" TEXT NOT NULL,
    "basePrice" DOUBLE PRECISION NOT NULL,
    "discountSixMonths" DOUBLE PRECISION NOT NULL DEFAULT 10.0,
    "discountAnnual" DOUBLE PRECISION NOT NULL DEFAULT 20.0,
    "durationMonths" INTEGER NOT NULL,
    "visitsPerWeek" INTEGER NOT NULL,
    "hoursPerMonth" DOUBLE PRECISION NOT NULL,
    "maxBeneficiaries" INTEGER NOT NULL DEFAULT 1,
    "features" TEXT[],
    "highlightFeatures" TEXT[],
    "color" TEXT,
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "subscription_packages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" TEXT NOT NULL,
    "subscriberId" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "packageType" "SubscriptionType" NOT NULL,
    "duration" "SubscriptionDuration" NOT NULL DEFAULT 'monthly',
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "renewalDate" TIMESTAMP(3),
    "autoRenew" BOOLEAN NOT NULL DEFAULT false,
    "visitsCompleted" INTEGER NOT NULL DEFAULT 0,
    "visitsTotal" INTEGER NOT NULL,
    "hoursUsed" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "hoursTotal" DOUBLE PRECISION NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "cancelledAt" TIMESTAMP(3),
    "cancellationNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "package_hours_logs" (
    "id" TEXT NOT NULL,
    "subscriptionId" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "visitId" TEXT,
    "hoursConsumed" DOUBLE PRECISION NOT NULL,
    "balanceBefore" DOUBLE PRECISION NOT NULL,
    "balanceAfter" DOUBLE PRECISION NOT NULL,
    "description" TEXT,
    "loggedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "package_hours_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payments" (
    "id" TEXT NOT NULL,
    "invoiceNumber" TEXT,
    "subscriberId" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "subscriptionId" TEXT NOT NULL,
    "packageType" "SubscriptionType" NOT NULL,
    "baseAmount" DOUBLE PRECISION NOT NULL,
    "discountAmount" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "taxAmount" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "amountPaid" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "paymentMethod" TEXT NOT NULL DEFAULT 'UPI',
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'pending',
    "transactionId" TEXT,
    "gatewayName" TEXT,
    "gatewayOrderId" TEXT,
    "gatewayPaymentId" TEXT,
    "gatewaySignature" TEXT,
    "gatewayResponse" JSONB,
    "failureCode" TEXT,
    "failureReason" TEXT,
    "refundId" TEXT,
    "refundAmount" DOUBLE PRECISION,
    "refundedAt" TIMESTAMP(3),
    "refundReason" TEXT,
    "planStartDate" TIMESTAMP(3) NOT NULL,
    "planEndDate" TIMESTAMP(3) NOT NULL,
    "isSubscriptionActive" BOOLEAN NOT NULL DEFAULT true,
    "enrolledAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "paidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "appointments" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "careCompanionId" TEXT NOT NULL,
    "scheduledDate" TIMESTAMP(3) NOT NULL,
    "durationMinutes" INTEGER NOT NULL DEFAULT 60,
    "status" "AppointmentStatus" NOT NULL DEFAULT 'pending',
    "bookedBy" TEXT,
    "notes" TEXT,
    "rescheduleCount" INTEGER NOT NULL DEFAULT 0,
    "rescheduleReason" TEXT,
    "previousDate" TIMESTAMP(3),
    "confirmedAt" TIMESTAMP(3),
    "reminderSentAt" TIMESTAMP(3),
    "cancellationNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "appointments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "visits" (
    "id" TEXT NOT NULL,
    "encounterId" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "careCompanionId" TEXT NOT NULL,
    "appointmentId" TEXT,
    "scheduledTime" TIMESTAMP(3) NOT NULL,
    "checkInTime" TIMESTAMP(3),
    "checkOutTime" TIMESTAMP(3),
    "durationMinutes" INTEGER,
    "status" "VisitStatus" NOT NULL DEFAULT 'scheduled',
    "checkInLat" DOUBLE PRECISION,
    "checkInLng" DOUBLE PRECISION,
    "checkOutLat" DOUBLE PRECISION,
    "checkOutLng" DOUBLE PRECISION,
    "isGeoVerified" BOOLEAN NOT NULL DEFAULT false,
    "geoDistanceMeters" DOUBLE PRECISION,
    "manualCheckInReason" TEXT,
    "bpSystolic" INTEGER,
    "bpDiastolic" INTEGER,
    "heartRate" INTEGER,
    "oxygenLevel" DOUBLE PRECISION,
    "bloodSugarFasting" DOUBLE PRECISION,
    "bloodSugarPostMeal" DOUBLE PRECISION,
    "temperature" DOUBLE PRECISION,
    "weight" DOUBLE PRECISION,
    "height" DOUBLE PRECISION,
    "bmi" DOUBLE PRECISION,
    "painLevel" INTEGER,
    "respiratoryRate" INTEGER,
    "extraVitals" JSONB,
    "mood" "MoodType",
    "happinessScore" INTEGER,
    "cognitiveScore" INTEGER,
    "mobilityScore" INTEGER,
    "appetiteScore" INTEGER,
    "sleepQualityScore" INTEGER,
    "hygieneScore" INTEGER,
    "socialEngagement" BOOLEAN NOT NULL DEFAULT false,
    "activitiesDone" TEXT[],
    "medicationAdherence" BOOLEAN NOT NULL DEFAULT false,
    "medicationNotes" TEXT,
    "notes" TEXT,
    "visitSummary" TEXT,
    "followUpRequired" BOOLEAN NOT NULL DEFAULT false,
    "followUpNotes" TEXT,
    "followUpDate" TIMESTAMP(3),
    "escalateToManager" BOOLEAN NOT NULL DEFAULT false,
    "escalationReason" TEXT,
    "rating" INTEGER,
    "feedback" TEXT,
    "ccSelfRating" INTEGER,
    "locationLat" DOUBLE PRECISION,
    "locationLng" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "visits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vital_history" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "visitId" TEXT,
    "recordedBy" TEXT NOT NULL,
    "recordedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "bpSystolic" INTEGER,
    "bpDiastolic" INTEGER,
    "heartRate" INTEGER,
    "oxygenLevel" DOUBLE PRECISION,
    "bloodSugarFasting" DOUBLE PRECISION,
    "bloodSugarPostMeal" DOUBLE PRECISION,
    "temperature" DOUBLE PRECISION,
    "weight" DOUBLE PRECISION,
    "height" DOUBLE PRECISION,
    "bmi" DOUBLE PRECISION,
    "painLevel" INTEGER,
    "respiratoryRate" INTEGER,

    CONSTRAINT "vital_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medication_adherence" (
    "id" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "medicationId" TEXT NOT NULL,
    "visitId" TEXT,
    "scheduledTime" TIMESTAMP(3) NOT NULL,
    "taken" BOOLEAN NOT NULL DEFAULT false,
    "takenTime" TIMESTAMP(3),
    "skippedReason" TEXT,
    "administeredBy" TEXT,
    "recordedBy" TEXT NOT NULL,

    CONSTRAINT "medication_adherence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emergency_requests" (
    "id" TEXT NOT NULL,
    "ticketNumber" TEXT NOT NULL,
    "beneficiaryId" TEXT NOT NULL,
    "requestedBy" TEXT NOT NULL,
    "status" "EmergencyStatus" NOT NULL DEFAULT 'open',
    "type" TEXT,
    "description" TEXT,
    "locationLat" DOUBLE PRECISION,
    "locationLng" DOUBLE PRECISION,
    "locationAddress" TEXT,
    "assignedTo" TEXT,
    "assignedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "resolutionNotes" TEXT,
    "notes" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "emergency_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "call_logs" (
    "id" TEXT NOT NULL,
    "callerId" TEXT NOT NULL,
    "receiverId" TEXT NOT NULL,
    "callType" TEXT NOT NULL DEFAULT 'voice',
    "status" TEXT NOT NULL DEFAULT 'completed',
    "durationSecs" INTEGER,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),

    CONSTRAINT "call_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "channel" "NotificationChannel" NOT NULL DEFAULT 'push',
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "data" JSONB DEFAULT '{}',
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "failReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zones" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "city" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "pincode" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "radiusKm" DOUBLE PRECISION,
    "phone" TEXT,
    "email" TEXT,
    "leaseStartDate" TIMESTAMP(3),
    "leaseEndDate" TIMESTAMP(3),
    "rentAmount" DOUBLE PRECISION,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "fieldManagerId" TEXT,

    CONSTRAINT "zones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "marketing_leads" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "city" TEXT,
    "pincode" TEXT,
    "source" "LeadSource" NOT NULL DEFAULT 'website',
    "status" "LeadStatus" NOT NULL DEFAULT 'new',
    "interests" TEXT[],
    "notes" TEXT,
    "assignedTo" TEXT,
    "utmSource" TEXT,
    "utmMedium" TEXT,
    "utmCampaign" TEXT,
    "utmContent" TEXT,
    "referralCode" TEXT,
    "followUpAt" TIMESTAMP(3),
    "lastContactedAt" TIMESTAMP(3),
    "convertedAt" TIMESTAMP(3),
    "convertedUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "marketing_leads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "callback_requests" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "message" TEXT,
    "subscriberId" TEXT,
    "beneficiaryId" TEXT,
    "status" "CallbackStatus" NOT NULL DEFAULT 'pending',
    "assignedTo" TEXT,
    "notes" TEXT,
    "scheduledAt" TIMESTAMP(3),
    "calledAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "callback_requests_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_phone_key" ON "users"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE INDEX "users_isActive_idx" ON "users"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "otps_phone_key" ON "otps"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "medical_conditions_name_key" ON "medical_conditions"("name");

-- CreateIndex
CREATE UNIQUE INDEX "medical_conditions_slug_key" ON "medical_conditions"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "beneficiary_conditions_beneficiaryId_conditionId_key" ON "beneficiary_conditions"("beneficiaryId", "conditionId");

-- CreateIndex
CREATE UNIQUE INDEX "schedule_preferences_beneficiaryId_key" ON "schedule_preferences"("beneficiaryId");

-- CreateIndex
CREATE UNIQUE INDEX "beneficiaries_userId_key" ON "beneficiaries"("userId");

-- CreateIndex
CREATE INDEX "beneficiaries_subscriberId_idx" ON "beneficiaries"("subscriberId");

-- CreateIndex
CREATE INDEX "beneficiaries_fieldManagerId_idx" ON "beneficiaries"("fieldManagerId");

-- CreateIndex
CREATE INDEX "beneficiaries_primaryCcId_idx" ON "beneficiaries"("primaryCcId");

-- CreateIndex
CREATE UNIQUE INDEX "care_companions_userId_key" ON "care_companions"("userId");

-- CreateIndex
CREATE INDEX "care_companions_teamId_idx" ON "care_companions"("teamId");

-- CreateIndex
CREATE INDEX "care_companions_zone_idx" ON "care_companions"("zone");

-- CreateIndex
CREATE INDEX "care_companions_isAvailable_idx" ON "care_companions"("isAvailable");

-- CreateIndex
CREATE UNIQUE INDEX "field_managers_userId_key" ON "field_managers"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "subscription_packages_type_key" ON "subscription_packages"("type");

-- CreateIndex
CREATE INDEX "subscriptions_subscriberId_idx" ON "subscriptions"("subscriberId");

-- CreateIndex
CREATE INDEX "subscriptions_beneficiaryId_idx" ON "subscriptions"("beneficiaryId");

-- CreateIndex
CREATE INDEX "subscriptions_isActive_idx" ON "subscriptions"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "package_hours_logs_visitId_key" ON "package_hours_logs"("visitId");

-- CreateIndex
CREATE UNIQUE INDEX "payments_invoiceNumber_key" ON "payments"("invoiceNumber");

-- CreateIndex
CREATE UNIQUE INDEX "payments_transactionId_key" ON "payments"("transactionId");

-- CreateIndex
CREATE INDEX "payments_subscriberId_idx" ON "payments"("subscriberId");

-- CreateIndex
CREATE INDEX "payments_beneficiaryId_idx" ON "payments"("beneficiaryId");

-- CreateIndex
CREATE INDEX "payments_subscriptionId_idx" ON "payments"("subscriptionId");

-- CreateIndex
CREATE INDEX "payments_paymentStatus_idx" ON "payments"("paymentStatus");

-- CreateIndex
CREATE INDEX "appointments_beneficiaryId_idx" ON "appointments"("beneficiaryId");

-- CreateIndex
CREATE INDEX "appointments_careCompanionId_idx" ON "appointments"("careCompanionId");

-- CreateIndex
CREATE INDEX "appointments_status_idx" ON "appointments"("status");

-- CreateIndex
CREATE INDEX "appointments_scheduledDate_idx" ON "appointments"("scheduledDate");

-- CreateIndex
CREATE UNIQUE INDEX "visits_encounterId_key" ON "visits"("encounterId");

-- CreateIndex
CREATE UNIQUE INDEX "visits_appointmentId_key" ON "visits"("appointmentId");

-- CreateIndex
CREATE INDEX "visits_beneficiaryId_idx" ON "visits"("beneficiaryId");

-- CreateIndex
CREATE INDEX "visits_careCompanionId_idx" ON "visits"("careCompanionId");

-- CreateIndex
CREATE INDEX "visits_status_idx" ON "visits"("status");

-- CreateIndex
CREATE INDEX "visits_scheduledTime_idx" ON "visits"("scheduledTime");

-- CreateIndex
CREATE INDEX "vital_history_beneficiaryId_idx" ON "vital_history"("beneficiaryId");

-- CreateIndex
CREATE INDEX "vital_history_visitId_idx" ON "vital_history"("visitId");

-- CreateIndex
CREATE INDEX "vital_history_recordedAt_idx" ON "vital_history"("recordedAt");

-- CreateIndex
CREATE INDEX "medication_adherence_beneficiaryId_idx" ON "medication_adherence"("beneficiaryId");

-- CreateIndex
CREATE INDEX "medication_adherence_medicationId_idx" ON "medication_adherence"("medicationId");

-- CreateIndex
CREATE INDEX "medication_adherence_scheduledTime_idx" ON "medication_adherence"("scheduledTime");

-- CreateIndex
CREATE INDEX "medication_adherence_taken_idx" ON "medication_adherence"("taken");

-- CreateIndex
CREATE UNIQUE INDEX "emergency_requests_ticketNumber_key" ON "emergency_requests"("ticketNumber");

-- CreateIndex
CREATE INDEX "notifications_userId_idx" ON "notifications"("userId");

-- CreateIndex
CREATE INDEX "notifications_isRead_idx" ON "notifications"("isRead");

-- CreateIndex
CREATE INDEX "notifications_createdAt_idx" ON "notifications"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "zones_name_key" ON "zones"("name");

-- CreateIndex
CREATE UNIQUE INDEX "zones_code_key" ON "zones"("code");

-- AddForeignKey
ALTER TABLE "beneficiary_conditions" ADD CONSTRAINT "beneficiary_conditions_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiary_conditions" ADD CONSTRAINT "beneficiary_conditions_conditionId_fkey" FOREIGN KEY ("conditionId") REFERENCES "medical_conditions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medical_records" ADD CONSTRAINT "medical_records_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medications" ADD CONSTRAINT "medications_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medications" ADD CONSTRAINT "medications_medicalRecordId_fkey" FOREIGN KEY ("medicalRecordId") REFERENCES "medical_records"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_contacts" ADD CONSTRAINT "emergency_contacts_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "schedule_preferences" ADD CONSTRAINT "schedule_preferences_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiaries" ADD CONSTRAINT "beneficiaries_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiaries" ADD CONSTRAINT "beneficiaries_subscriberId_fkey" FOREIGN KEY ("subscriberId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiaries" ADD CONSTRAINT "beneficiaries_primaryCcId_fkey" FOREIGN KEY ("primaryCcId") REFERENCES "care_companions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiaries" ADD CONSTRAINT "beneficiaries_secondaryCcId_fkey" FOREIGN KEY ("secondaryCcId") REFERENCES "care_companions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "beneficiaries" ADD CONSTRAINT "beneficiaries_fieldManagerId_fkey" FOREIGN KEY ("fieldManagerId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "care_companions" ADD CONSTRAINT "care_companions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "care_companions" ADD CONSTRAINT "care_companions_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "field_managers" ADD CONSTRAINT "field_managers_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "teams" ADD CONSTRAINT "teams_fieldManagerId_fkey" FOREIGN KEY ("fieldManagerId") REFERENCES "field_managers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_packageType_fkey" FOREIGN KEY ("packageType") REFERENCES "subscription_packages"("type") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "package_hours_logs" ADD CONSTRAINT "package_hours_logs_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES "subscriptions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "package_hours_logs" ADD CONSTRAINT "package_hours_logs_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "package_hours_logs" ADD CONSTRAINT "package_hours_logs_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "visits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_subscriberId_fkey" FOREIGN KEY ("subscriberId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES "subscriptions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointments" ADD CONSTRAINT "appointments_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointments" ADD CONSTRAINT "appointments_careCompanionId_fkey" FOREIGN KEY ("careCompanionId") REFERENCES "care_companions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "visits" ADD CONSTRAINT "visits_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "visits" ADD CONSTRAINT "visits_careCompanionId_fkey" FOREIGN KEY ("careCompanionId") REFERENCES "care_companions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "visits" ADD CONSTRAINT "visits_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "appointments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vital_history" ADD CONSTRAINT "vital_history_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medication_adherence" ADD CONSTRAINT "medication_adherence_medicationId_fkey" FOREIGN KEY ("medicationId") REFERENCES "medications"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medication_adherence" ADD CONSTRAINT "medication_adherence_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medication_adherence" ADD CONSTRAINT "medication_adherence_recordedBy_fkey" FOREIGN KEY ("recordedBy") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medication_adherence" ADD CONSTRAINT "medication_adherence_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "visits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_requests" ADD CONSTRAINT "emergency_requests_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_requests" ADD CONSTRAINT "emergency_requests_requestedBy_fkey" FOREIGN KEY ("requestedBy") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_requests" ADD CONSTRAINT "emergency_requests_assignedTo_fkey" FOREIGN KEY ("assignedTo") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "call_logs" ADD CONSTRAINT "call_logs_callerId_fkey" FOREIGN KEY ("callerId") REFERENCES "beneficiaries"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zones" ADD CONSTRAINT "zones_fieldManagerId_fkey" FOREIGN KEY ("fieldManagerId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "callback_requests" ADD CONSTRAINT "callback_requests_subscriberId_fkey" FOREIGN KEY ("subscriberId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "callback_requests" ADD CONSTRAINT "callback_requests_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES "beneficiaries"("id") ON DELETE SET NULL ON UPDATE CASCADE;

